body{
    background-color: rgb(172, 231, 231);
}
.fa{
    color: rgb(121, 19, 75);
}
.box-part{
    background-color: white;
    padding: 40px 10px;
    margin: 30px 0px;
}
.span{
    font-size: 12px;
}
.text{
    margin: 20px 0px;
}
a{
    border-bottom: 1px  solid rgb(212, 116, 188)
}
.box{
    padding: 70px 10px;
}